/* Design Sources --v */
/* https://www.makeuseof.com/css-background-gradients/ -> for body background ideas */
/* https://blog.hubspot.com/website/web-safe-html-css-fonts#html-and-css-fonts -> font-family ideas */
/* https://www.jotform.com/help/118-how-to-customize-the-submit-button-with-css/ -> css button sources  */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition_transform -> transform & hover settings for navbar links */
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp -> custom checbox help */
/* https://www.geeksforgeeks.org/css3-media-query-for-all-devices/# -> media query settings */

body {
  margin: 0;
  font-family: Comic Sans MS;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #decba4, #3e5151);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: darkslategray;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}
button a {
  color: darkorchid;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: gray;
}
a:hover {
  color: darkslateblue;
}

.home-index {
  width: 100px;
  height: 100px;
  transition: width 2s, height 2s, transform 2s;
}

.home-index:hover {
  width: 100px;
  height: 100px;
  transform: rotate(180deg);
}
.new-btn {
  width: 100px;
  height: 50px;
  transition: width 2s, height 2s, transform 2s;
}

.new-btn:hover {
  width: 100px;
  height: 50px;
  transform: rotate(180deg);
}
.New {
  border: 7px double darkturquoise;
  margin: auto;
  width: 95%;
}

.New form {
  margin: auto;
  width: 95%;
}

.Edit,
.New input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 0%;
}

input[type="submit"] {
  width: 5%;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 5px 5px 5px;
  text-shadow: none;
}

.rockNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.Rock-Details {
  text-align: center;
}

button {
  background-color: transparent;

  border: 1px solid;
  border-radius: 20px;
  box-shadow: 5px 5px 5px;
  text-shadow: none;
}
/* Media queries */

/* 768px to 1279px--v */
@media screen and (max-width: 768px) and (max-width: 1024px) {
  main {
    width: 677.6875px;
  }
}

/* 767px--v */
@media screen and (max-width: 767px) {
  .Edit,
  .New {
    width: 324px;
    grid-template-columns: 1fr;
  }
}
