body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b9b9b9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: darkslategray;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}
button a {
  color: darkorchid;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: gray;
}
a:hover {
  color: darkslateblue;
}

.New {
  border: 7px double darkturquoise;
    margin: auto;
    width: 95%;
}

.New form {
  margin: auto;
  width: 95%;
}

.Edit, .New input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 5%;
}

.rockNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.Rock-Details {
  text-align: center;
}

/* Media queries */

/* 768px to 1279px--v */
@media (min-width: 768px) and (min-width: 1279px) {
  main {
    width: 677.6875px;
    display:none;
  }
}

/* 1280px--v
@media (min-width: 1280px) {
  main {
    width: 885.5px;
    display:block;
  }
} */

/* 767px--v */
@media (max-width: 767px) {
  .Edit, .New {
    width: 324px;
    grid-template-columns: 1fr;
  }
}
